streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-ollama
langchain-classic
langchain-text-splitters
unstructured
python-docx
pdfminer.six
pdfplumber
faiss-cpu
wikipedia
openai
tiktoken
python-dotenv
